<div class="config-container">

    <h2>Select Teams</h2>

    <div class="match-setup clearfix">

        <div class="home-team">
            <div>
                <span class="h2">Home Team</span>
            </div>
            <div>
                <img ng-src="/img/{{gameConfigCtrl.homeTeam.mnemonic || 'placeholder'}}.png" height="175"/>
            </div>
            <select class="form-control" ng-model="gameConfigCtrl.homeTeam" ng-options="team.name for team in gameConfigCtrl.teams | filter:gameConfigCtrl.filterOutSameTeam(gameConfigCtrl.awayTeam)"></select>
        </div>

        <div class="versus">
            <div class="vs">vs</div>
            <button class="btn btn-default" ng-click="gameConfigCtrl.createGame()">Confirm match setup</button>
        </div>

        <div class="away-team">
            <div>
                <span class="h2">Away Team</span>
            </div>
            <div>
                <img ng-src="/img/{{gameConfigCtrl.awayTeam.mnemonic || 'placeholder'}}.png" height="175"/>
            </div>
            <select class="form-control" ng-model="gameConfigCtrl.awayTeam" ng-options="team.name for team in gameConfigCtrl.teams | filter:gameConfigCtrl.filterOutSameTeam(gameConfigCtrl.homeTeam)"></select>
        </div>

    </div>

</div>