<div class="container game">

    <div spread-bot></div>

    <div>

        <div class="jumbotron">

            <div class="match-setup clearfix">

                <div class="home-team">
                    <div>
                        <span class="h4">Home Team</span>
                    </div>
                    <div>
                        <img src="/img/{{homeTeam.mnemonic}}.png" height="175" />
                    </div>
                    <select class="form-control" ng-model="homeTeam" ng-options="team.name for team in teams"></select>
                </div>

                <div class="versus">
                    <div class="vs">vs</div>
                    <button class="btn btn-default" ng-click="createGame()">Confirm match setup</button>
                </div>

                <div class="away-team">
                    <div>
                        <span class="h4">Away Team</span>
                    </div>
                    <div>
                        <img src="/img/{{awayTeam.mnemonic}}.png" height="175" />
                    </div>
                    <select class="form-control" ng-model="awayTeam" ng-options="team.name for team in teams"></select>
                </div>

            </div>

        </div>

    </div>

 </div>