<div class="game-container" ng-class="{showtips: gameController.spreadBotService.showTips}">


    <div class="game-controls">
        <button class="btn btn-success" ng-click="gameController.startSimulation()" ng-show="gameController.gameStateService.state === gameController.gameStates.BEFORE">
            Start Simulation
        </button>
        <div class="countdown" ng-show="gameController.gameStateService.state === gameController.gameStates.DURING">
            <span class="h1">{{gameController.match.clock}}:00</span>
        </div>
        <button class="btn btn-success" disabled ng-show="gameController.gameStateService.state === gameController.gameStates.AFTER">
            Game Over
        </button>
    </div>

    <!-- Begin page content -->
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-4">

                <div spread-bot></div>

                <div match-event="gameController.match" class="match-event clearfix">
                    <div match-event-facet="gameController.match" event-type="Goal">Goals</div>
                    <div match-event-facet="gameController.match" event-type="Corner">Corners</div>
                    <div match-event-facet="gameController.match" event-type="Offside">Offsides</div>
                    <div match-event-facet="gameController.match" event-type="YellowCard">Yellow Cards</div>
                    <div match-event-facet="gameController.match" event-type="RedCard">Red Cards</div>
                </div>

            </div>

            <div class="col-md-8">

                <div class="game-grid" id="marketGrid"></div>
                <div class="game-grid" id="betGrid"></div>

            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="gameIntro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Hi, I'm SpreadBot</h4>
                    </div>
                    <div class="modal-body" ng-bind-html="gameController.spreadBotService.tip"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
                    </div>
                    <img src="/img/agent.png"/>
                </div>
            </div>
        </div>


    </div>

</div>