<div class="container game">

    <spreadbot></spreadbot>

    <div ng-hide="configured">

        <div class="jumbotron">

            <div class="match-setup clearfix">

                <div class="home-team">
                    <div>
                        <span class="h4">Home Team</span>
                    </div>
                    <div>
                        <img src="/img/{{homeTeam.id}}.png" height="175" />
                    </div>
                    <select class="form-control" ng-model="homeTeam" ng-options="team.name for team in teams"></select>
                </div>

                <div class="versus">
                    <div class="vs">vs</div>
                    <button class="btn btn-default" ng-click="configured = true">Confirm match setup</button>
                </div>

                <div class="away-team">
                    <div>
                        <span class="h4">Away Team</span>
                    </div>
                    <div>
                        <img src="/img/{{awayTeam.id}}.png" height="175" />
                    </div>
                    <select class="form-control" ng-model="awayTeam" ng-options="team.name for team in teams"></select>
                </div>

            </div>

        </div>

    </div>

    <div class="jumbotron match-jumbotron" ng-show="configured">

        <div class="match-in-progress clearfix">

            <div class="home-team">
                <div>
                    <img src="/img/{{homeTeam.id}}.png" height="100" />
                </div>
                <div class="game-events">
                    <ul class="list-unstyled">
                        <li ng-repeat="matchEvent in matchEvents | filter:{ team: 0, type: 'Goal' }">'{{matchEvent.time}} {{matchEvent.type}}</li>
                    </ul>
                </div>
            </div>

            <div class="versus">
                <div class="score">{{homeTeamGoals}} - {{awayTeamGoals}} </div>
                <div class="countdown" ng-show="started">{{timer}}:00</div>
                <button class="btn btn-default" ng-click="startGame()" ng-hide="started">Kick-off</button>
            </div>

            <div class="away-team">
                <div>
                    <img src="/img/{{awayTeam.id}}.png" height="100" />
                </div>
                <div class="game-events">
                    <ul class="list-unstyled">
                        <li ng-repeat="matchEvent in matchEvents | filter:{ team: 1, type: 'Goal' }">'{{matchEvent.time}} {{matchEvent.type}}</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div ng-show="configured">

        <table class="table table-striped table-hover spreadly-table">
            <thead>
            <th>Name</th>
            <th style="width:125px;text-align:center">So Far</th>
            <th style="width:125px;text-align:center"></th>
            <th style="width:150px;text-align:center">Price</th>
            <th style="width:125px;text-align:center"></th>
            </thead>
            <tbody>
            <tr ng-repeat="market in markets">
                <td>{{market.title}}</td>
                <td style="text-align:center">{{market.soFar}}</td>
                <td style="text-align:center"><button class="btn btn-danger">Sell</button></td>
                <td style="text-align:center">{{market.sellPrice}} - {{market.buyPrice}}</td>
                <td style="text-align:center"><button class="btn btn-success">Buy</button></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>