<div class="game-details">
    <div class="game-score">
        <div>
            <img ng-src="/img/{{match.homeTeam.mnemonic || 'placeholder'}}.png" height="50"/>
            <span class="h1">{{match.teamEvents[teams.HOME].Goal || 0}}  - {{match.teamEvents[teams.AWAY].Goal || 0}}</span>
            <img ng-src="/img/{{match.awayTeam.mnemonic || 'placeholder'}}.png" height="50"/>
        </div>
        <div class="kickoff-time">{{match.kickoffTime}}</div>
    </div>
    <div ng-transclude></div>
</div>