.app-spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.app-spinner .spinner {
  margin: 300px auto;
}

@font-face {
  font-family: "Zwodrei Bold";
  src: url("/fonts/zwodrei_bold_demo.ttf");
}