body {
  min-width: 900px;
  min-height: 550px;
  background: #11203B;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../img/football-stadium.jpg');
}

.app-spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.app-spinner .spinner {
  margin: 300px auto;
}

@font-face {
  font-family: "Zwodrei Bold";
  src: url("/fonts/zwodrei_bold_demo.ttf");
}

.security-username {
  display: inline-block;
  margin-right: 8px;
}

.login-container {
  margin: 80px auto 0;
  padding: 30px 50px 80px;
  width: 900px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px 4px 0 0;
  text-align: center;

  h2 {
    font-family: "Zwodrei Bold", "Helvetica Neue", Arial, serif;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
  }

  > div {
    float: left;
    width: 400px;

  }

  > div:last-child {
    border-left: 2px solid white;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}