.game-container {

  .game-controls {
    position: absolute;
    top: 9px;
    left: 50%;
    width: 126x;
    margin-left: -63px;
    text-align: center;

    .countdown {
      font-family: "Zwodrei Bold", "Helvetica Neue", Arial, serif;
      color: white;
    }

    .game-tip {
      position:absolute;
      top: 4px;
      left: 50%;
      margin-left: 50px;
    }
  }

  .game-grid {
    *, *:before, *:after { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
  }

  #marketGrid {
    height: 370px;
  }

  #betGrid {
    height: 195px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.4);
  }

}

.bet-entry {
  z-index: 10000;
  position: absolute;
  background: white;
  padding:5px;

  input {
    margin-bottom: 10px;
  }
}