.game-container {

  .game-controls {
    position: absolute;
    top: 9px;
    left: 50%;
    width: 126x;
    margin-left: -63px;
    text-align: center;

    .countdown {
      font-family: "Zwodrei Bold", "Helvetica Neue", Arial, serif;
      color: white;
    }

    .game-tip {
      position:absolute;
      top: 4px;
      left: 50%;
      margin-left: 50px;
    }
  }

  .game-grid {
    *, *:before, *:after { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
  }

  #marketGrid {
    height: 260px;
  }

  #betGrid {
    height: 281px;
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.4);
  }

  .modal-content {

    img {
      position: absolute;
      right: 10px;
      bottom: 73px;
      height: 130px;
    }

  }

  #gameIntro {

    .modal-body {
      padding-right: 150px;
    }

  }

  #assessment {

    ul {
      list-style-type: none;
      padding-left: 10px;
    }

  }

  .btn-delete {
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  }

}

.bet-entry {
  z-index: 10000;
  position: absolute;
  background: white;
  padding:5px;
  text-align: right;

  span {
    display:inline-block;
    margin-right: 4px;
  }

  input {
    margin-bottom: 4px;
    width: 124px;
    display:inline-block;
  }
}