/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header-columns {
  background: @gray-darker;
  color: white;
  text-shadow: 1px 1px 1px #000;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

.slick-header-column-sorted, .slick-header-column:hover, .slick-header-column-active {
  #gradient > .vertical(@gray-darker, @gray-dark);
}

.slick-header-column.ui-state-default {
  border-right: 1px solid #111;
  border-left: 1px solid #333;
  text-align: center;
  font-size: @font-size-base - 1;
  line-height: 18px;
}

.slick-row .slick-cell {
  padding-left: 4px;
  padding-right: 4px;
  background: @gray-dark;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #111;
  border-right: 1px solid #111;
  border-left: 1px solid #333;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: @font-size-base - 1;
  line-height: 34px;
}

.cell-align-center {
  text-align: center;
}