<div class="login-container clearfix">

    <h2>Spread Better</h2>

    <div>

        <form class="form-signin register" ng-submit="loginController.register()" method="post">
            <p class="text-danger" ng-show="loginController.securityService.error">
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{loginController.securityService.error}}
            </p>

            <input type="username" class="form-control" placeholder="Username" ng-model="loginController.r_username" required>
            <input type="password" class="form-control" placeholder="Password" ng-model="loginController.r_password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>

    </div>

    <div>

        <form class="form-signin login" ng-submit="loginController.login()" method="post">
            <p class="text-danger" ng-show="loginController.securityService.error">
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{loginController.securityService.error}}
            </p>

            <input type="username" class="form-control" placeholder="Username" ng-model="loginController.username" required autofocus>
            <input type="password" class="form-control" placeholder="Password" ng-model="loginController.password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

     </div>

</div>