<div class="container">

    <form class="form-signin login" ng-submit="register()" method="post">
        <h2 class="form-signin-heading">Register to play</h2>
        <p class="text-danger" ng-show="securityService.error"><span class="glyphicon glyphicon-exclamation-sign"></span> {{securityService.error}}</p>
        <input type="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>

</div>